/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.grid-container {
  max-width: 1400px;
}

.main-box-title {
  text-align: center;
  border: 5px solid red;
}

.main-box-description {
  text-align: center;
  border: 5px solid black;
}

.nav-img {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.carouselImage {
  max-height: 500px;
  width: 100%;
}
