<h1>Placeholder</h1>
<div>

  <div class="row align-items-start">
    <div class="col-1">
    </div>
    <div class="col-2 nav-img">
      <img src="images/circProf.png" width="160" height="160">
    </div>
    <div class="col-6">
    </div>
    <div class="col-2 nav-img">
      <img src="images/stocks.jpg" width="160" height="160">
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row align-items-center">
    <div (mouseenter)="leftVisible = true" (mouseleave)="leftVisible = false" class="col-1 text-right" (click)="prev()">
      <i [style.visibility]="leftVisible ? 'visible' : 'hidden'" class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
    </div>
    <div class="col-2">
    </div>
    <div class="col-6">
      <div>
        <h3 class="main-box-title">{{titles[imageIndex]}}</h3>
        <p class="main-box-description">{{descriptions[imageIndex]}}</p>
      </div>
      <ngb-carousel *ngIf="images" [interval]="0"  #imgCarousel (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let img of images; let i = index" [id]="'slideId_' + i">
          <div class="picsum-img-wrapper">
            <img [src]="images[i]" alt="Random first slide" class="carouselImage">
          </div>
          <div class="carousel-caption">
            <h3>Title</h3>
            <p>Description</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-2">
    </div>
    <div (mouseenter)="rightVisible = true" (mouseleave)="rightVisible = false" class="col-1 text-left" (click)="next()">
      <i [style.visibility]="rightVisible ? 'visible' : 'hidden'" class="fa fa-arrow-right fa-4x"
        aria-hidden="true"></i>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col-1">
    </div>
    <div class="col-2 nav-img">
      <img src="images/review.png" width="160" height="60">
    </div>
    <div class="col-6">
    </div>
    <div class="col-2 nav-img">
      <img src="images/message.png" width="160" height="160">
    </div>
    <div class="col-1">
    </div>
  </div>

</div>
